<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Item</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Write a New Item</h1>
        <a href="/" class="button pastel-blue">Back to List</a>
    </header>
    <main>
        <form action="/write" method="POST" enctype="multipart/form-data">
            <input type="text" name="username" placeholder="Your name" required>
            <input type="text" name="title" placeholder="Title" required>
            <textarea name="content" placeholder="Write your item..." required></textarea>
            <input type="password" name="password" placeholder="Set a password" required>
            <input type="file" name="files" multiple>
            <button type="submit" class="button pastel-orange">Submit</button>
        </form>
    </main>
    
    <footer>
        <div>
            <img src="/static/lowCbanner.png" alt="Low Carbon Banner" style="width: 12%;">
        </div>
        <p>&copy; 2025 RIS Low-carbon Green Energy Project 
        </br>Designed by Prof. Ga of University of Ulsan </p>
    </footer>
    
</body>
</html>
